@font-face {
  font-family: 'Suzuki PRO Headline';
  src: url('../fonts/suzuki-pro/SuzukiPROHeadline.eot');
  src: url('../fonts/suzuki-pro/SuzukiPROHeadline.eot?#iefix') format('embedded-opentype'),
  url('../fonts/suzuki-pro/SuzukiPROHeadline.woff') format('woff'),
  url('../fonts/suzuki-pro/SuzukiPROHeadline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Suzuki PRO Regular';
  src: url('../fonts/suzuki-pro/SuzukiPRORegular.eot');
  src: url('../fonts/suzuki-pro/SuzukiPRORegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/suzuki-pro/SuzukiPRORegular.woff') format('woff'),
  url('../fonts/suzuki-pro/SuzukiPRORegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Medium';
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Bold';
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Bold.eot');
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Suwannaphum Regular';
  src: url('../fonts/suwannaphum/Suwannaphum-Regular.eot');
  src: url('../fonts/suwannaphum/Suwannaphum-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/suwannaphum/Suwannaphum-Regular.woff') format('woff'),
  url('../fonts/suwannaphum/Suwannaphum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.page-header__description {
  font-family: 'Suzuki Pro Regular', sans-serif;
}
