@font-face {
  font-family: 'Suzuki PRO Headline';
  src: url('../fonts/suzuki-pro/SuzukiPROHeadline.eot');
  src: url('../fonts/suzuki-pro/SuzukiPROHeadline.eot?#iefix') format('embedded-opentype'),
  url('../fonts/suzuki-pro/SuzukiPROHeadline.woff') format('woff'),
  url('../fonts/suzuki-pro/SuzukiPROHeadline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Suzuki PRO Regular';
  src: url('../fonts/suzuki-pro/SuzukiPRORegular.eot');
  src: url('../fonts/suzuki-pro/SuzukiPRORegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/suzuki-pro/SuzukiPRORegular.woff') format('woff'),
  url('../fonts/suzuki-pro/SuzukiPRORegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Medium';
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Bold';
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Bold.eot');
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'Suwannaphum Regular';
  src: url('../fonts/suwannaphum/Suwannaphum-Regular.eot');
  src: url('../fonts/suwannaphum/Suwannaphum-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/suwannaphum/Suwannaphum-Regular.woff') format('woff'),
  url('../fonts/suwannaphum/Suwannaphum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

/* Scaffolding */

html {
	font-size: 16px;
  color: #000000;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sprite-inline {
  display: none;
}

/* Blocks */

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.button {
  color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
  background-color: #005AAD;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* -> car */
.car {
  text-align: center;
}

.car__name {
  font-family: 'Suzuki Pro Regular', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  position: relative;
  z-index: 10;
}

.car__photo {
  display: block;
  margin: -16px 1px 1px;
}

.car__more {
  color: #005AAD;
  width: 100%;
  margin-bottom: 6px;
  padding: 15px 0 14px;
  border: 1px solid #005AAD;
  background-color: transparent;
}

.car__buy {
  font-family: 'Suzuki Pro Headline', sans-serif;
  font-size: 20px;
  width: 100%;
  padding: 15px 0 12px;
}
/* car <- */

/* -> characteristics */
.characteristics {
  margin-bottom: 17px;
}

.characteristics__item {
  color: #979797;
  display: flex;
  justify-content: space-between;
}

.characteristics__name,
.characteristics__value {
  font-size: 16.5px;
  line-height: 160%;
  margin: 0;
  padding: 0;
}

.characteristics__dots {
  flex-grow: 1;
  box-sizing: border-box;
  height: 19px;
  margin: 0 2px;
  background-image: linear-gradient(to right, #979797 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 5px 2px;
  background-repeat: repeat-x;
}
/* characteristics <- */

/* Page Header */

.page-header {
  background-color: #ffffff;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 17px;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
}

.page-header__logo--autofield {
  margin-top: 2px;
  margin-right: 15px;
}

.page-header__logo--suzuki {
  margin-top: 6px;
  margin-right: 40px;
}

.page-header__description {
  font-family: 'Suzuki Pro Regular', sans-serif;
  font-size: 14px;
  line-height: 130%;
  width: 185px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.page-header__container--phone {
  flex-direction: column;
  align-items: flex-end;
  margin-right: -2px;
}

.page-header__phone {
  font-family: 'Suzuki Pro Headline', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}

.page-header__request-call {
  font-family: 'Suzuki PRO Regular', sans-serif;
  font-size: 14px;
  line-height: 130%;
  color: #005AAD;
}

/* Hero */

.hero__wrapper {
  position: relative;
}

.hero__container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 93px;
}

.hero__title {
  font-family: 'Suzuki PRO Regular', sans-serif;
  font-size: 38.5174px;
  font-weight: 400;
  line-height: 130%;
}

.hero__price {
  font-family: 'Suzuki Pro Headline', sans-serif;
  font-size: 88.7579px;
  font-weight: bold;
  line-height: 130%;
  position: relative;
  margin-top: -3px;
}

.hero__price::after {
  content: '';
  position: absolute;
  right: -108px;
  top: 60px;
  width: 29px;
  height: 9px;
  background-color: #ffffff;
}

.hero__space {
  font-size: 40px;
}

.hero__button {
  font-family: 'Suzuki PRO Regular', sans-serif;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  max-width: fit-content;
  margin-top: -1px;
  margin-bottom: 227px;
  padding: 23px 57px 20px 56.5px;
}

.hero__controls {
  display: flex;
  justify-content: space-between;
  width: 156px;
}

.hero__control {
  width: 70px;
  height: 2px;
  background-color: #ffffff;
  border: none;
}

.hero__control--active {
  background-color: #005AAD;
}

.hero__background {
  margin: 0 auto;
  max-width: 1920px;
}

.hero__photo {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: top right;
}

/* Catalog */

/* -> catalog-header */
.catalog-header {
  margin-bottom: 82px;
  background-color: #EBEBEB;
}

.catalog-header__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.catalog-header__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 570px;
  height: 371px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.catalog-header__item--active {
  background-color: #ffffff;
}

.catalog-header__model {
  font-family: 'Suzuki Pro Headline', sans-serif;
  font-size: 30px;
  line-height: 130%;
  margin-top: 60px;
}

.catalog-header__item--sx4 .catalog-header__model {
  margin-right: 10px;
}

.catalog-header__item--active .catalog-header__model {
  color: #005AAD;
}

.catalog-header__photo {
  margin-top: -10px;
}

.catalog-header__item--sx4 .catalog-header__photo {
  margin-top: 12px;
  margin-right: 8px;
}
/* catalog-header <- */

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.catalog__item {
  margin-bottom: 25px;
}
