@font-face {
  font-family: 'Suzuki PRO Headline';
  src: url('../fonts/suzuki-pro/SuzukiPROHeadline.eot');
  src: url('../fonts/suzuki-pro/SuzukiPROHeadline.eot?#iefix') format('embedded-opentype'),
  url('../fonts/suzuki-pro/SuzukiPROHeadline.woff') format('woff'),
  url('../fonts/suzuki-pro/SuzukiPROHeadline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Suzuki PRO Regular';
  src: url('../fonts/suzuki-pro/SuzukiPRORegular.eot');
  src: url('../fonts/suzuki-pro/SuzukiPRORegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/suzuki-pro/SuzukiPRORegular.woff') format('woff'),
  url('../fonts/suzuki-pro/SuzukiPRORegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Medium';
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Bold';
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Bold.eot');
  src: url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'Suwannaphum Regular';
  src: url('../fonts/suwannaphum/Suwannaphum-Regular.eot');
  src: url('../fonts/suwannaphum/Suwannaphum-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/suwannaphum/Suwannaphum-Regular.woff') format('woff'),
  url('../fonts/suwannaphum/Suwannaphum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

/* Scaffolding */

html {
	font-size: 16px;
  color: #000000;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sprite-inline {
  display: none;
}

/* Blocks */

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.button {
  color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
  background-color: #005AAD;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* -> car */
.car {
  text-align: center;
}

.car__name {
  font-family: 'Suzuki Pro Regular', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  position: relative;
  z-index: 10;
}

.car__photo {
  display: block;
  margin: -16px 1px 1px;
}

.car__more {
  color: #005AAD;
  width: 100%;
  margin-bottom: 6px;
  padding: 15px 0 14px;
  border: 1px solid #005AAD;
  background-color: transparent;
}

.car__buy {
  font-family: 'Suzuki Pro Headline', sans-serif;
  font-size: 20px;
  width: 100%;
  padding: 15px 0 12px;
}
/* car <- */

/* -> characteristics */
.characteristics {
  margin-bottom: 17px;
}

.characteristics__item {
  color: #979797;
  display: flex;
  justify-content: space-between;
}

.characteristics__name,
.characteristics__value {
  font-size: 16.5px;
  line-height: 160%;
  margin: 0;
  padding: 0;
}

.characteristics__dots {
  flex-grow: 1;
  box-sizing: border-box;
  height: 19px;
  margin: 0 2px;
  background-image: linear-gradient(to right, #979797 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 5px 2px;
  background-repeat: repeat-x;
}
/* characteristics <- */

/* Page Header & Page Footer */

.page-header {
  background-color: #ffffff;
}

.page-header__wrapper,
.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 17px;
}

.page-header__container,
.page-footer__container {
  display: flex;
  flex-wrap: wrap;
}

.page-header__logo--autofield {
  margin-top: 2px;
  margin-right: 15px;
}

.page-header__logo--suzuki {
  margin-top: 6px;
  margin-right: 40px;
}

.page-header__description {
  font-family: 'Suzuki Pro Regular', sans-serif;
  font-size: 14px;
  line-height: 130%;
  width: 185px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.page-header__container--phone,
.page-footer__container--phone {
  flex-direction: column;
  align-items: flex-end;
  margin-right: -2px;
}

.page-header__phone {
  font-family: 'Suzuki Pro Headline', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}

.page-header__request-call {
  font-family: 'Suzuki PRO Regular', sans-serif;
  font-size: 14px;
  line-height: 130%;
  color: #005AAD;
}

.page-footer {
  background-color: #000000;
}

.page-footer__wrapper {
  padding-top: 19px;
  padding-bottom: 20px;
}

.page-footer__logo--autofield {
  margin-top: 4px;
  margin-left: -4px;
  margin-right: 6px;
}

.page-footer__logo--suzuki {
  margin-top: 10px;
}

.page-footer__container--phone {
  margin-right: 0;
}

.page-footer__phone,
.page-footer__request-call {
  line-height: 140%;
  color: #ffffff;
}

.page-footer__phone {
  font-family: 'Helvetica Neue Cyr Bold', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.page-footer__request-call {
  font-family: 'Helvetica Neue Cyr Regular', sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-top: -3px;
  margin-right: 2px;
  border-bottom: 1px dotted #ffffff;
}

/* Hero */

.hero__wrapper {
  position: relative;
}

.hero__container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 93px;
}

.hero__title {
  font-family: 'Suzuki PRO Regular', sans-serif;
  font-size: 38.5174px;
  font-weight: 400;
  line-height: 130%;
}

.hero__price {
  font-family: 'Suzuki Pro Headline', sans-serif;
  font-size: 88.7579px;
  font-weight: bold;
  line-height: 130%;
  position: relative;
  margin-top: -3px;
}

.hero__price::after {
  content: '';
  position: absolute;
  right: -108px;
  top: 60px;
  width: 29px;
  height: 9px;
  background-color: #ffffff;
}

.hero__space {
  font-size: 40px;
}

.hero__button {
  font-family: 'Suzuki PRO Regular', sans-serif;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  max-width: fit-content;
  margin-top: -1px;
  margin-bottom: 227px;
  padding: 23px 57px 20px 56.5px;
}

.hero__controls {
  display: flex;
}

.hero__control {
  width: 70px;
  margin-right: 16px;
  height: 2px;
  background-color: #ffffff;
  border: none;
}

.hero__control--active {
  background-color: #005AAD;
}

.hero__background {
  margin: 0 auto;
  max-width: 1920px;
}

.hero__photo {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: top right;
}

/* Catalog */

/* -> catalog-header */
.catalog-header {
  margin-bottom: 82px;
  background-color: #EBEBEB;
}

.catalog-header__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.catalog-header__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 570px;
  height: 371px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.catalog-header__item--active {
  background-color: #ffffff;
}

.catalog-header__model {
  font-family: 'Suzuki Pro Headline', sans-serif;
  font-size: 30px;
  line-height: 130%;
  position: relative;
  z-index: 10;
  margin-top: 60px;
}

.catalog-header__item--sx4 .catalog-header__model {
  margin-right: 10px;
}

.catalog-header__item--active .catalog-header__model {
  color: #005AAD;
}

.catalog-header__photo {
  margin-top: -10px;
}

.catalog-header__item--sx4 .catalog-header__photo {
  margin-top: 12px;
  margin-right: 8px;
}
/* catalog-header <- */

.catalog {
  margin-bottom: 70px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.catalog__item {
  margin-bottom: 25px;
}

/* Gift */

.gift__description {
  font-family: 'Suzuki Pro Headline', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  max-width: 490px;
  margin: 0 auto 79px;
  padding: 0;
  padding-right: 11px;
}

.gift__list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-gap: 29px;
}

.gift__item {
  position: relative;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0px 10px 40px rgba(14, 41, 66, 0.2);
}

.gift__item:nth-child(1) .gift__photo {
  margin: 19px 16px 17px 19px;
}

.gift__item:nth-child(2) .gift__photo {
  margin: 19px 18px 17px 17px;
}

.gift__item:nth-child(3) .gift__photo {
  margin: 19px 19px 17px 16px;
}

.gift__photo {
  display: block;
}

.gift__name {
  font-family: 'Suzuki Pro Headline', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 33px 0;
  padding: 0;
}

/* Features */

.features {
  color: #ffffff;
  margin-top: -206px;
  background: #005AAD;
}

.features__list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 270px);
  grid-gap: 85px;
  margin-left: 90px;
  padding-top: 437px;
  padding-bottom: 147px;
}

.features__item {
  position: relative;
}

.features__item--trade::before,
.features__item--casco::before,
.features__item--credit::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.features__item--trade::before {
  top: -97px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon-car-insurance.svg);
}

.features__item--casco::before {
  top: -98px;
  width: 68px;
  height: 67px;
  background-image: url(../img/icon-agreement.svg);
}

.features__item--credit::before {
  top: -91px;
  width: 63px;
  height: 62px;
  background-image: url(../img/icon-discount.svg);
}

.features__name {
  font-family: 'Suzuki Pro Headline', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}

.features__description {
  font-size: 18px;
  line-height: 130%;
  max-width: 260px;
  margin: 0;
  padding: 0;
}

/* Contacts */

.contacts__wrapper {
  position: relative;
}

.conatcts__container {
  position: absolute;
  top: 68px;
  left: 0;
  width: 570px;
  background-color: #ffffff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
}

.contacts__title,
.contacts__address,
.contacts__timetable {
  font-family: 'Helvetica Neue Cyr Regular', sans-serif;
  line-height: 140%;
  margin: 0;
  margin-left: 100px;
  padding: 0;
}

.contacts__title {
  font-family: 'Helvetica Neue Cyr Bold', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  margin-top: 71px;
  margin-bottom: 46px;
}

.contacts__address {
  width: 305px;
  margin-bottom: 10px;
}

.contacts__timetable {
  margin-bottom: 130px;
}

.contacts__timetable span {
  font-family: 'Helvetica Neue Cyr Bold', sans-serif;
}

.contacts__map {
  max-width: 1920px;
  margin: 0 auto;
}

.contacts__map-frame {
  display: block;
  width: 100%;
  border: none;
}
